<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.example.dao.DoctorDao">

    <resultMap type="web.example.users.Doctor" id="doctorList">
        <result property="did" column="doctor_id"/>
        <result property="name" column="doctor_name"/>
        <result property="office" column="office_name"/>
        <result property="phone" column="phone"/>
        <result property="ranks" column="ranks"/>
        <result property="doctor_price" column="doctor_price"/>
    </resultMap>
    <select id="getDoctors" resultMap="doctorList" parameterType="string">
        SELECT * FROM doctor WHERE office_name=#{office_name};
    </select>

    <resultMap type="String" id="departmentList">
        <result property="department_name" column="department_name"/>
    </resultMap>
    <select id="getDepartments" resultMap="departmentList" parameterType="string">
        SELECT * FROM department;
    </select>

    <resultMap type="String" id="officeList">
        <result property="office_name" column="office_name"/>
    </resultMap>
    <select id="getOffices" resultMap="officeList" parameterType="string">
        SELECT office_name FROM office,department where office.department_id = department.department_id and department.department_name = #{department_name};
    </select>

</mapper>